.ProjectsContainer {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 10px;
}

.h1 {
  color: green;
}
