* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* react-selects */
.select_multi__placeholder {
  font-family: sans-serif;
  color: #000 !important;
  padding: 1px !important;
  font-size: 1em !important;
  text-transform: capitalize !important;
  text-align: start;
}

.select_multi__value-container {
  padding: 0 !important;
}

.select_multi__control {
  box-shadow: none !important;
  border: none !important;
}

.select_multi__multi-value {
  color: red;
  background-color: #56cee7 !important;
  border-radius: 5px !important;
}

.select_multi__menu {
  font-family: sans-serif;
  text-transform: capitalize;
}

.select_multi__multi-value__label {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 1em !important;
  text-transform: capitalize;
  font-family: sans-serif;
}

.select_multi__multi-value__remove {
  width: 27px;
}
