@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  font-family: inherit;
  color: white;
  font-family: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  font-family: "Roboto";
  font-weight: 500;

  background: rgb(70, 255, 215);
  background: linear-gradient(180deg, #5defcf 0%, #3fa4fc 100%);
}
